<form [formGroup]="editUserForm" (ngSubmit)="editUserById(editUserForm.value)">
    <h3>Edit user</h3>

    <div>
        <label for="userid">User ID:</label>
        <input type="text" id="userid" name="userid" [formControl]="editUserForm.controls['userid']">
        <span *ngIf="!editUserForm.controls['userid'].valid && editUserForm.controls['userid'].touched">Invalid
          input entry</span>
        <span *ngIf="editUserForm.controls['userid'].hasError('required')">User ID is required</span>
      </div>
  
    <div>
      <label for="firstname">Firstname:</label>
      <input type="text" id="editFirstname" name="editFirstname" [formControl]="editUserForm.controls['editFirstname']">
      <span *ngIf="!editUserForm.controls['editFirstname'].valid && editUserForm.controls['editFirstname'].touched">Invalid
        input entry</span>
      <span *ngIf="editUserForm.controls['editFirstname'].hasError('required')">Firstname is required</span>
    </div>
  
    <div>
      <label for="lastname">Lastname:</label>
      <input type="text" id="editLastname" name="editLastname" [formControl]="editUserForm.controls['editLastname']">
      <span *ngIf="!editUserForm.controls['editLastname'].valid && editUserForm.controls['editLastname'].touched">Invalid
        input
        entry</span>
      <span *ngIf="editUserForm.controls['editLastname'].hasError('required')">Lastname is required</span>
    </div>
  
    <div>
      <label for="username">Username:</label>
      <input type="text" id="editUsername" name="editUsername" [formControl]="editUserForm.controls['editUsername']">
      <span *ngIf="!editUserForm.controls['editUsername'].valid && editUserForm.controls['editUsername'].touched">Invalid
        input entry</span>
      <span *ngIf="editUserForm.controls['editUsername'].hasError('required')">Username is required</span>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="editPassword" name="editPassword" [formControl]="editUserForm.controls['editPassword']">
      <span *ngIf="!editUserForm.controls['editPassword'].valid && editUserForm.controls['editPassword'].touched">Invalid
        input entry</span>
      <span *ngIf="editUserForm.controls['editPassword'].hasError('required')">Password is required</span>
    </div>
  
    <div>
      <button type="submit" [disabled]="!editUserForm.valid">Edit user</button>
    </div>
  </form>

  <div *ngIf="message">{{ message }}</div>