<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <h2>Login</h2>
  <div>
    <label for="username">User name:</label>
    <input type="text" id="username" name="userName" [formControl]="loginForm.controls['username']">
    <span *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">Invalid input entry</span>
    <span *ngIf="loginForm.controls['username'].hasError('required')">User name is required</span>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [formControl]="loginForm.controls['password']">
    <span *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Invalid input entry</span>
    <span *ngIf="loginForm.controls['password'].hasError('required')">Password is required</span>
  </div>
  <div>
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </div>
</form> 

<div *ngIf="message">{{ message }}</div>
