<form [formGroup]="createUserForm" (ngSubmit)="createUser(createUserForm.value)">
    <h3>Create user</h3>
  
    <div>
      <label for="firstname">Firstname:</label>
      <input type="text" id="firstname" name="firstname" [formControl]="createUserForm.controls['firstname']">
      <span *ngIf="!createUserForm.controls['firstname'].valid && createUserForm.controls['firstname'].touched">Invalid
        input entry</span>
      <span *ngIf="createUserForm.controls['firstname'].hasError('required')">Firstname is required</span>
    </div>
  
    <div>
      <label for="lastname">Lastname:</label>
      <input type="text" id="lastname" name="lastname" [formControl]="createUserForm.controls['lastname']">
      <span *ngIf="!createUserForm.controls['lastname'].valid && createUserForm.controls['lastname'].touched">Invalid
        input
        entry</span>
      <span *ngIf="createUserForm.controls['lastname'].hasError('required')">Lastname is required</span>
    </div>
  
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [formControl]="createUserForm.controls['username']">
      <span *ngIf="!createUserForm.controls['username'].valid && createUserForm.controls['username'].touched">Invalid
        input entry</span>
      <span *ngIf="createUserForm.controls['username'].hasError('required')">Username is required</span>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [formControl]="createUserForm.controls['password']">
      <span *ngIf="!createUserForm.controls['password'].valid && createUserForm.controls['password'].touched">Invalid
        input entry</span>
      <span *ngIf="createUserForm.controls['password'].hasError('required')">Password is required</span>
    </div>
  
    <div>
      <button type="submit" [disabled]="!createUserForm.valid">Create user</button>
    </div>
  </form>

  <div *ngIf="message">{{ message }}</div>