<h3>Delete user</h3>
<div>
  <label for="deleteUserId">Enter user ID:</label>
  <input type="number" id="deleteUserId" #inputValue>
  <button type="submit" (click)="deleteUser(inputValue.value)">Delete user</button>
</div>
<span *ngIf="message">{{ message }}</span>