<h3>Get user</h3>
<div>
    <label for="getUserId">Enter user ID:</label>
  <input type="number" id="getUserId" #enteredNumber>
  <button type="submit" (click)="getUserById(enteredNumber.value)">Get user</button>

  <table *ngIf="fetchedUser">
    <thead>
      <th>ID:</th>
      <th>First name:</th>
      <th>Last name:</th>
      <th>Username:</th>
      <th>Password:</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ fetchedUser.id }}</td>
        <td>{{ fetchedUser.firstname }}</td>
        <td>{{ fetchedUser.lastname }}</td>
        <td>{{ fetchedUser.username }}</td>
        <td>{{ fetchedUser.password }}</td>
      </tr>
    </tbody>
  </table>
</div>
<span *ngIf="message">{{ message }}</span>