<h3>List users</h3>
<button type="submit" (click)="listUsers()">List users</button>
<div *ngIf="allUsers">
  <table>
    <thead>
      <th>ID:</th>
      <th>First name:</th>
      <th>Last name:</th>
      <th>Username:</th>
      <th>Password:</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
      </tr>
    </tbody>
  </table>
</div>
<span *ngIf="message">{{ message }}</span>