<div class="content">
    <h2>User management</h2>
    <div class="col">
        <app-create-user></app-create-user>
        <app-edit-user></app-edit-user>
        <app-list-users></app-list-users>
        <app-get-user></app-get-user>
        <app-delete-user></app-delete-user>
    </div>
</div>
